<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
    
	</title>
</head>
<body>
<center><form action="/" method="POST">
        <label>Enter your user name:</label>
        <input type="text" name="username" required><br>
        <label>Enter your birth month:</label>
        <input type="text" name="birthMonth" required><br>
        <button type="submit">Go To Home Page</button>
    </form></center>
</body>
</html>